@page "/"
@inject Converter_Web_Application.Service.TranslationService TranslationService
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation

<div class="container text-center">
    <h1>@TranslationService.Translate("Home_Title")</h1>
    <h2>@TranslationService.Translate("Home_Lead")</h2>
    <p>@TranslationService.Translate("Home_Description")</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>@TranslationService.Translate("Popular_Conversions")</h2>
            <ul class="list-group">
                <li class="list-group-item" @onclick='() => NavigateToPage("business")'>@TranslationService.Translate("Business_Tools")</li>
                <li class="list-group-item" @onclick='() => NavigateToUnits("weight")'>@TranslationService.Translate("Weight")</li>
                <li class="list-group-item" @onclick='() => NavigateToUnits("temperature")'>@TranslationService.Translate("Temperature")</li>

            </ul>
        </div>
        <div class="col-md-6">
            <h2>@TranslationService.Translate("How_To_Use")</h2>
            <ol class="list-unstyled">
                <li>@TranslationService.Translate("Select_Type")</li>
                <li>@TranslationService.Translate("Enter_Value")</li>
                <li>@TranslationService.Translate("Select_Units")</li>
                <li>@TranslationService.Translate("Click_Convert")</li>
            </ol>
        </div>
    </div>

    <!-- Action button -->
    <NavLink class="btn btn-primary mt-4" href="/units">@TranslationService.Translate("Start_Converting")</NavLink>
</div>

@code {

    protected override void OnInitialized()
    {
        TranslationService.OnLanguageChanged += StateHasChanged;
    }

    private void NavigateToUnits(string type)
    {
        Navigation.NavigateTo($"/units/{type}");
    }

    private void NavigateToPage(string type)
    {
        Navigation.NavigateTo($"/{type}");
    }

    public void Dispose()
    {
        TranslationService.OnLanguageChanged -= StateHasChanged;
    }

}
